<table class="highlight mb2">
  <thead>
    <tr>
      <th>№</th>
      <th>Дата</th>
      <th>Время</th>
      <th>Сумма</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    @for (order of orders; track $index) {
      <tr>
        <td>{{order.order}}</td>
        <td>{{order.date | date: 'dd.MM.yyy'}}</td>
        <td>{{order.date | date: 'HH:mm:ss'}}</td>
        <td>{{computePrice(order)}} $</td>
        <td>
          <button (click)="selectOder(order)" class="btn btn-small grey darken-1">
            <i class="material-icons">open_in_new</i>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>


<div #modal class="modal modal-fixed-footer">
  @if (selectedOrder) {
    <div class="modal-content">
      <h4 class="mb1">Заказ №{{selectedOrder.order}}</h4>
      <table class="highlight">
        <thead>
          <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
          </tr>
        </thead>
    
        <tbody>
          @for (item of selectedOrder.list; track $index) {
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.quantity}}</td>
              <td>${{item.cost}}</td>
            </tr>
          }
        </tbody>
      </table>
      <div class="order-summary">
        <p>Общая стоимость <strong>{{computePrice(selectedOrder)}} $</strong></p>
      </div>
    </div>
  }
  <div class="modal-footer">
    <button (click)="closeModal()" class="modal-action waves-effect waves-black btn-flat">Закрыть</button>
  </div>
</div>
